# See https://docs.microsoft.com/azure/devops/pipelines/languages/python

jobs:
- job:
  displayName: ubuntu-latest
  pool:
    vmImage: 'ubuntu-latest'

  steps:
  - script: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH

  - script: conda create --yes --quiet --name ntlink_CI
    displayName: Create Anaconda environment

  - script: |
      curl https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      sudo apt-add-repository "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-11 main"
      sudo apt-get update
      sudo apt-get install -y --no-install-recommends clang-format clang-tidy
    displayName: Install clang-format and clang-tidy
  - script: |
      source activate ntlink_CI
      conda install --yes --quiet --name ntlink_CI python pylint pytest pandas abyss=2.3.1
      conda install --yes --quiet --name ntlink_CI -c conda-forge -c bioconda --file requirements.txt
    displayName: Install Anaconda packages
  - script: |
      source activate ntlink_CI
      cd bin
      pylint ntlink_pair.py ntlink_utils.py ntlink_stitch_paths.py ntlink_overlap_sequences.py ntlink_filter_sequences.py
      cd ..
    displayName: Run pylint
  - script: make -C src all
    displayName: Compile C++ executables
  - script: make -C src check
    displayName: Test C++ executables
  - script: |
      source activate ntlink_CI
      cd tests
      pytest -vs ntlink_pytest.py
    displayName: Run pytests

- job: macOS_default_clang
  pool:
    vmImage: macOS-latest
  steps:
  - script: make -C src all
    displayName: Compile C++ executables with clang
  - script: make -C src check
    displayName: Test C++ executables
